1. Additional Operator
 -Addition: `+`
 - Subtraction: `-`
 - Multiplication: `*`
 - Division: `/`
 - Floor Division: `//` (returns the floor value after division)
 - Modulus: `%` (returns the remainder after division)
 - Exponentiation: `**` (raises the left operand to the power of the right operand)

In [25]:
a=2
b=3
print(a**b)

8

2. Comparison Operator
- Equal to: `==`
 - Not equal to: `!=`
 - Greater than: `>`
 - Less than: `<`
 - Greater than or equal to: `>=`
 - Less than or equal to: `<=`

In [38]:
a=5
b=5
if a!=b:
    print("a is not equal to b")
else:
    print("a is equal to b")

a is equal to b

3. Logical Operators
- AND: `and`
 - OR: `or`
 - NOT: `not`

In [51]:
name = "Sofia"
age=37
if name== "Alicia" and age ==36:
 print("It is Alicia and she is 36 years old")
    
elif name=="Alicia " or age ==36:
 print("She is either Alicia or is of 36 years old")

else:
 print("she is neither Alicia nor 36 years old")

if not name =="Alicia":
 print('She is not Alicia')

she is neither Alicia nor 36 years old
She is not Alicia

In [ ]:
4. Assignment Operators
- Assignment: `=`
 - Add and assign: `+=`
 - Subtract and assign: `-=`
 - Multiply and assign: `*=`
 - Divide and assign: `/=`

In [57]:
a=5
a+=3 # a=a+3
a-=3 #a=a-3
a*=4 #a=a*4
print(a)

20

MemberShip Operator
`in`: Returns `True` if a value is found in the sequence.
 - `not in`: Returns `True` if a value is not found in the sequence.

In [67]:
a=["Apple", "banana", 'watermelon', 'papaya']

if 'coconut' not in a:
    print('coconut is not in the list')
else:
    print('Apple is in the list')

coconut is not in the list

Identity Operator 
is Operator:
is not Operator:

In [68]:
a=[1, 2, 3]
b=a #b is pointing to the same address as a
print(a is b)

True

In [72]:
#Difference between is operator and assignment operators:
list_a=[1,2,3]
list_b=list_a
print(list_a == list_b)
print(list_a is list_b)

True
True

In [ ]:
1. Arithmetic
2. Comparison
3. Logical
4. Assignment
5. Membership
6. Identity Operators